<app-navbar></app-navbar>
<section class="hero is-info is-fullheight">
  <div class="container">
    <div class="hero-content">
      <h1 class="title">Bienvenue sur PathéCiné</h1>
      <h2 class="subtitle">
        Réservez vos places et plongez dans une expérience cinématographique exceptionnelle.
      </h2>
      <a routerLink="/movies" class="button is-primary reservation-button">
        Réserver maintenant
      </a>
    </div>

    <div class="slider">
      <div class="slider-viewport">
        <div class="slider-content" [style.transform]="'translateX(-' + (currentImage - 1) * 100 + '%)'">
          <div class="slider-item">
            <img src="assets/img/poster_DarkKnight.jpg" alt="Batman">
          </div>
          <div class="slider-item">
            <img src="assets/img/poster_ch'tis.jpg" alt="Les Ch'tis">
          </div>
          <div class="slider-item">
            <img src="assets/img/poster_interstellar.jpg" alt="Interstellar">
          </div>
        </div>
      </div>
      <div class="slider-nav">
        <button *ngFor="let img of images; let i = index" (click)="navigateTo(i + 1)"
          [class.active]="currentImage === i + 1">
        </button>
      </div>
    </div>
    <h5>Film à l'affiche </h5>
  </div>
</section>

<div class="review-button-container" style="text-align: center;">
  <button class="button is-primary" (click)="openModal()">Donnez votre avis</button>
</div>

<div class="modal" [ngClass]="{'is-active': isModalActive}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <h2>Donnez votre avis sur notre cinéma</h2>
    </header>
    <section class="modal-card-body">
      <app-cinema-review (reviewAdded)="loadReviews()"></app-cinema-review>
    </section>
  </div>
</div>

<div class="review-list-container">
  <h3 class="title is-4" *ngIf="reviews.length > 0">Avis des utilisateurs :</h3>
  <div class="reviews-grid" *ngIf="reviews.length > 0">
    <div *ngFor="let review of reviews" class="review-card">
      <h4 class="review-title">{{ review.titre }}</h4>
      <p class="review-rating"><strong>Note :</strong> {{ review.rating }}/5</p>
      <p class="review-comment"><strong>Commentaire :</strong> {{ review.comment }}</p>
    </div>
  </div>
  <p *ngIf="reviews.length === 0" class="no-reviews">Aucun avis pour le moment.</p>
</div>